@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 0%;
    --foreground: 93.28% 0.0025 228.7857;

    --card: 15.53% 0.0042 285.8987;
    --card-foreground: 88.53% 0 0;

    --popover: 15.53% 0.0042 285.8987;
    --popover-foreground: 88.53% 0 0;

    --primary: 87.16% 0.1435 126.6456;
    --primary-foreground: 18.84% 0.0128 248.5103;

    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 70%;

    --accent: 87.16% 0.1435 126.6456;
    --accent-foreground: 18.84% 0.0128 248.5103;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 330 100% 65%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 93.28% 0.0025 228.7857;

    --card: 15.53% 0.0042 285.8987;
    --card-foreground: 88.53% 0 0;

    --popover: 15.53% 0.0042 285.8987;
    --popover-foreground: 88.53% 0 0;

    --primary: 87.16% 0.1435 126.6456;
    --primary-foreground: 18.84% 0.0128 248.5103;

    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 70%;

    --accent: 87.16% 0.1435 126.6456;
    --accent-foreground: 18.84% 0.0128 248.5103;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 330 100% 65%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
